
/* our fonts */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;600&family=Geologica&display=swap');

body {
    /*background-image: url(images/bg.png);*/
    background-image: linear-gradient(#0A7386, #09697C, #062D40); 
    background-repeat: no-repeat;

    /*background-image: linear-gradient(#0A7386,#09697C #062D40);*/
    
    /* removes margins and padding from body and all elements.*/
    margin:0px; padding:0px;

  }



/* all colors appear as what they were set to. EG hyperlinks wont change text color */
a { 
color: inherit; 
} 

move later
img {
object-fit: contain;
}

/* clears all decorations from hyperlink such as underline and color*/
a:link{
    text-decoration: none;
}

h1 {
    color:white;
    font-family: 'Geologica', sans-serif;
    font-size: 80px;
    margin: 0px;
}

h2 {
    color:white;
    font-family: 'Comfortaa';
    font-size: 20px;
}

h3 {
    color:white;
    font-family: 'Comfortaa';
    text-decoration: none;
    font-size: 12px;
    font-weight: normal;
}

h4 {
    color:white;
    font-family: 'Comfortaa';
    font-size: 10px;
    font-weight: bold;
}

h5 {
    color:white;
    font-family: 'Geologica';
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.container-centre {
width:100%;
text-align: center;
display: inline-block
}

.container-title {
    margin-top: 4%;
    margin-left: 4%;
}

.container-title2{
    margin-left: 12%;
}

.container{
    margin-top: 5%;
    padding-top: 1%;
}

.container-text {
    background-color: #023B53;
    border-radius: 25px;
    padding-left: 20px;
    padding-right: 20px;
    height: 80%;
    margin-top:auto;
    margin-bottom:auto;
    transition: 0.3s ease-in-out;
}

.container-circle {
  width: 200px;
  height: 200px;
  margin-top: 10%;
  border-radius: 50%;

}

.container-text:hover{
    transform: translate(0, -10px);
}

.container-images:hover{
    transform: scale(1.1);
}

.container-images{
    column-width: 10px;
    column-gap: 3%;
    width:100%;
    height:100%;
    margin-top: 5%;
    display:flex;
    justify-content: center;
    text-align: center;
    transition: 0.5s ease-in-out;
}

 .container-item{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 20%;
    padding-right: 20%;
    display: flex;
 }

.content {
margin-top: 0;
}

.flex-container {
    display: flex;
}

.nav-bar {
    margin-top: 0px;
    margin-right: 2%;
    text-align: right;
}

.nav {
    --nav-gap: 15px;
    padding: var(--nav-gap);
    position: fixed;
    left: 2%;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .nav-item {
    align-items: center;
    display: flex;
    margin-bottom: var(--nav-gap);
  }
  
  .nav-link:hover ~ .nav-label {
    opacity: 1;
  }
  
  .nav-label {
    color: white;
    font-family: 'Comfortaa';
    text-decoration: none;
    font-size: 12px;
    opacity: 0;
    transition: opacity 0.1s;
    margin-left: 10%;
  }
  
  .nav-link {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    height: var(--nav-gap);
    margin-left: var(--nav-gap);
    transition: transform 0.1s;
    width: var(--nav-gap);
  }
  
  .nav-link-selected {
    background: white;
    transform: scale(1.4);
  }


/* not related to the rest of the navs */

.nav-top li{
    right: 0px;
    display: inline-block;
}

.nav-top {
    text-align: right;
}


/* lets me see the hitbox, and size of text */
.hitbox {
  color: white;
  border: 5px;
  border-style: solid;
}


/* formatting things */

li {
    display: inline-block;
    padding: 0 20px;
    transition: all 0.3s ease-in-out;
  }

li:hover{
    color: #A7A7A7;
}

ul {
    list-style-type: none;
}

.ul1 {
    list-style-type: none;
}

.img-container{
    width:  223px;
    height: 223px;
    object-fit: none;
}

.footer {
    text-align: center;
    bottom: 0;
    width: 100%;
    margin-top: 3%;;
}

.wrapper {
    margin-left:auto;
    margin-right:auto
}

.section {
    height: 100vh;
  }

.contact {
    margin-top: 5%;
    width: 40%;
}

.flush-left { /* positions absolute left */
    left:0px;
    position: relative;
}


/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    font-family:"Comfortaa";
    width:100%;
    display: block;
    border: none;
    transition: left 0.3s ease-in-out;
    padding: 12px; /* Some padding */ 
    border-radius: 15px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place *//* Add a top margin */
    margin-bottom: 5%; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }

  /*.search:active+.searchBox; {
    left: 500px;

  }
  */
  
  /* Button */
  input[type=submit] {
    font-family:"Comfortaa";
    font-size: 15px;
    background-color: #023B53;
    color: white;
    border: none;
    padding: 20px;
    border-radius: 15px; 
    margin-bottom: 5%; 
    cursor: pointer;
    transition: all 0.3s ease-in-out; /* animation stuff dw abt it */
  }
  
  /* Hover button */
  input[type=submit]:hover {
    background-color: #075175;
    color: #A7A7A7;
    border:10px;
    transform: scale(1.1);
  }
  




/* elements */

.circle {
  height:100px;
  width: 100px;
  border:1.5px solid white;
  border-radius: 50%;
}

.small-circle {
  height:57.5px;
  width: 57.5px;
  border-radius: 50%;
}



.square {
    height: 4px;
    width: 486px;
    background-color: white;
}

.square2 {
    height: 4px;
    width: 270px;
    background-color:#A7A7A7;
 
}

.icon {
    margin-right: 100px;
}

.fa-brands{
    color:white;
    width: 3%;
    font-size: 100%;
}

/* scroll wheel */

.page {
    overflow: auto;
}

.banner {
    position: absolute;
    left: calc(-50vw + 50%);
    text-align: center;
    width: 100%;
    height: 50%;
    background: #062D40
}

.banner-2 {
    margin-top: 3%;
    margin-bottom: 3%;
    height: 50%;
    text-align: center;
    opacity: 80%;
    background: #062D40
}

why do I need this
section:contact(2n) {
    background-color: coral;
}


#pagethree{ /*background lighthouse for third segment*/
    background-image: url(images/bg.png);
    background-repeat:no-repeat;
    background-position-x: 90%;
    background-size: contain;
}

#pageteam {
    background-image: url(images/pageteam.png);
    background-size:     cover;                    
    background-repeat:   no-repeat;
    background-position: center bottom; 
    overflow:hidden;
}

#pageRedirect {
  background-color:#09697C;
  background-size: cover;
}


/* drop down menu */
.dropbtn {
    font-family:"Comfortaa";
    font-size: 15px;
    background-color: #023B53;
    margin-left: 20%;
    color: white;
    border: none;
    padding: 20px;
    border-radius: 15px; 
    margin-bottom: 5%; 
    cursor: pointer;
    transition: all 0.3s ease-in-out; /* animation stuff dw abt it */

  }
  
  .dropbtn:hover, .dropbtn:focus {
    transform: scale(1.1);
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {
    background-color: #ddd;
}

  
  .show {display: block;}



.sectionLinks li {
    list-style-type: none;
    width: 12px;
    height: 12px;
    border-radius: 12px;
    margin: 8px 0 8px 20px;
    border: 1px solid #fff;
}

.sectionLinks {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 45%;
    z-index: 10;
}

.dotstyle ul {
	position: fixed;
	display: flex;
    flex-direction: column;
    top: 45%;
    z-index: 10;
	cursor: default;
}

/* animatation */
html {
    scroll-behavior: smooth;
  }

/* nav bar animation line */
span {
    position: relative;
    display: block;
    cursor: pointer;
  }
  
  span:before, span:after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2.5px;
    top: 110%;
    background: #A7A7A7;
  }
  
  span:before {
    left: -2.5px;
  }
  span:after {
    right: 2.5px;
    background: #ffff;
    transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
  }
  
  span:hover:before {
    background: #A7A7A7;
    width: 100%;
    transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
  }
  
  span:hover:after {
    background: transparent;
    width: 100%;
    transition: 0s;
  }

  /* search config navigation */

  .searchBox {
    height: 100px;
    width: 200px;
    border: solid red 5px;
    position: relative;
    left: 1px;
    transition: left 0.3s ease-in-out;
  
  }

  /* Left nav bar animation */

.dotstyle li {
	position: relative;
	display: block;
	float: left;
    margin: 8px 0 8px 20px;
	width: 16px;
	height: 16px;
	cursor: pointer;
}

.dotstyle li a {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	outline: none;
	border-radius: 50%;
	background-color: #fff;
	background-color: rgba(255,255,255,0.3);
	text-indent: -999em;
	cursor: pointer; /* make the text accessible to screen readers */
	position: absolute;
}

/* Fill up */
.dotstyle-fillup li a {
	overflow: hidden;
	background-color: rgba(0,0,0,0);
	box-shadow: inset 0 0 0 2px rgba(255,255,255,1);
	transition: background 0.3s;
}

.dotstyle-fillup li a::after {
	content: '';
	position: absolute;
	bottom: 0;
	height: 0;
	left: 0;
	width: 100%;
	background-color: #fff;
	box-shadow: 0 0 1px #fff;
	transition: height 0.3s;
}

.dotstyle-fillup li a:hover,
.dotstyle-fillup li a:focus {
	background-color: rgba(0,0,0,0.2);
}

.dotstyle-fillup li.current a::after {
	height: 100%;
}

/* Animation opacity search bar */
@keyframes fadeIn { 
    from { opacity: 0; } 
  }
  
h6 {
    position: relative;
    top: 100px;
    
    font: italic bold 5em/1 Bodoni, serif;
    color: #555;
    text-align: center;
    
    animation: fadeIn 1s infinite alternate;
  }

/* links */
link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }