
/* our fonts */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;600&family=Geologica&display=swap');
@import url(fontawesome-all.min.css);

body {
    background: linear-gradient(#e66465, #9198e5)
    /*background: linear-gradient(#0A7386, #09697C, #062D40)*/

    /*background-image: linear-gradient(#0A7386,#09697C #062D40);*/
  }

h1 {
    color:white;
    font-family: 'Geologica', sans-serif;
    font-size: 80px;
    margin: 0px;
}

h2 {
    color:white;
    font-family: 'Comfortaa';
    font-size: 20px;
}

h3 {
    color:white;
    font-family: 'Comfortaa';
    text-decoration: none;
    font-size: 12px;
    font-weight: normal;
}

h4 {
    color:white;
    font-family: 'Comfortaa';
    font-size: 10px;
    font-weight: normal;
}


.container-title {
    margin-top: 3%;
}

.container-title2{
    margin-left: 8%;
    margin-top: 30%;
}

.container{
    margin-top: 5%;
    padding-top: 1%;
}

.container-images{
    margin: 10px, 10px;
    column-width: 10px;
    width:90%;
    height:90%;
    display:flex;
    justify-content: space-between;
    table-layout: fixed
}

.container-text{
    width: 20%;
    height: 65px;
}

.content {
margin-top: 0;
}

.flex-container {
    display: flex;
}

.nav-bar {
    margin-top: 0px;
    margin-right: 2%;
    text-align: right;
}

.nav {
    --nav-gap: 15px;
    padding: var(--nav-gap);
    position: fixed;
    left: 2%;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .nav-item {
    align-items: center;
    display: flex;
    margin-bottom: var(--nav-gap);
  }
  
  .nav-link:hover ~ .nav-label {
    opacity: 1;
  }
  
  .nav-label {
    color: #000000;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.1s;
  }
  
  .nav-link {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    height: var(--nav-gap);
    margin-left: var(--nav-gap);
    transition: transform 0.1s;
    width: var(--nav-gap);
  }
  
  .nav-link-selected {
    background: #000000;
    transform: scale(1.4);
  }


/* lets me see the hitbox, and size of text */
.hitbox {
    border: 1px solid white;
}

ul {
    list-style-type: none;

}

.ul1 {
    padding: 0;
    list-style-type: none;

}





/* elements */

.square {
    height: 4px;
    width: 486px;
    background-color: white;
}

.square2 {
    height: 4px;
    width: 270px;
    background-color:#A7A7A7;
 
}

.button {
    border-radius: 25px;
    background: #062D40;
    border: none;
    color: white;
    width: 100px;
    height: 28px; 
    margin-left: 3%;
    padding-right: 7%;
    
}

.searchbar {
    border-radius: 25px;
    background: white;
    border: none;
    color: black;
    width: 200px;
    height: 25px; 
    text-align: left;
    margin: auto;
    padding-left: 2%;
    
}

.icon {
    margin-right: 100px;
}

.page {
    overflow-y: scroll;
    overflow-x: hidden;
}


.page-break{
    margin: 15%;
}

.sectionLinks li {
    list-style-type: none;
    width: 12px;
    height: 12px;
    border-radius: 12px;
    margin: 8px 0 8px 20px;
    border: 1px solid #fff;
}

.sectionLinks {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 45%;
    z-index: 10;
}

.dotstyle ul {
	position: fixed;
	display: flex;
    flex-direction: column;
    top: 45%;
    z-index: 10;
	cursor: default;
}

/* animates our scrolling */
html {
    scroll-behavior: smooth;
  }
  
.dotstyle li {
	position: relative;
	display: block;
	float: left;
    margin: 8px 0 8px 20px;
	width: 16px;
	height: 16px;
	cursor: pointer;
}

.dotstyle li a {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	outline: none;
	border-radius: 50%;
	background-color: #fff;
	background-color: rgba(255,255,255,0.3);
	text-indent: -999em;
	cursor: pointer; /* make the text accessible to screen readers */
	position: absolute;
}

/* Fill up */
.dotstyle-fillup li a {
	overflow: hidden;
	background-color: rgba(0,0,0,0);
	box-shadow: inset 0 0 0 2px rgba(255,255,255,1);
	transition: background 0.3s;
}

.dotstyle-fillup li a::after {
	content: '';
	position: absolute;
	bottom: 0;
	height: 0;
	left: 0;
	width: 100%;
	background-color: #fff;
	box-shadow: 0 0 1px #fff;
	transition: height 0.3s;
}

.dotstyle-fillup li a:hover,
.dotstyle-fillup li a:focus {
	background-color: rgba(0,0,0,0.2);
}

.dotstyle-fillup li.current a::after {
	height: 100%;
}


/* links */
link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }